<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
  @import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Josefin+Sans:wght@300;400;700&family=Montserrat:wght@500&family=Poppins:wght@300;400;600&family=Roboto&display=swap');
</style>
</head>
<body>
    <div class="section1">
        <div class="nav">
            <div class="navlogo">
                <img src="../public/img/logo.png" alt="">
            </div>
            <div class="navlink">
                <a href="">HOME</a>
                <a href="">SHOP</a>
                <a href="">PRODUCT</a>
                <a href="">CART</a>
                <a href="">CHECKOUT</a>
            </div>
            <div class="navbtn">
                <button style="background-color: rgb(251,183,16); color: white; font-size: 25px; font-weight: 700; border: none;">%DISCOUNT%</button>

                <button style="font-size: 25px; background-color: black; color: white; border: none;">New This Week</button>
                
            </div>
            <div class="navitem">
                <a href="cart.html"><i class="fa-solid fa-cart-shopping"><span>&nbsp;&nbsp;CART (0)</span></i></a>
                <i class="fa-regular fa-star"><span>&nbsp;&nbsp;FAVOURITE</span></i>
                <i class="fa-solid fa-magnifying-glass"><span>&nbsp;&nbsp;SEARCH</span></i>
               <a href="index.html"> <i class="fa-regular fa-user"><span>&nbsp;&nbsp;LOG IN</span></i></a>
            </div>
            <div class="navicon">
                <i class="fa-brands fa-pinterest"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="navmenu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="box1">
            <div class="i1">
                <br>
                <br>
                <br>
                <div class="line"></div>
                <h2>Frome $180</h2>
                <h1>Modern Chair</h1>
            </div>
            <div class="i2">
                <br>
                <br>
                <br>
                <div class="line"></div>
                <h2>Frome $180</h2>
                <h1>Plant Pot</h1>
            </div>
            <div class="i3">
                <br>
                <br>
                <br>
                <div class="line"></div>
                <h2>Frome $180</h2>
                <h1>Modern Rocking Chair</h1>
            </div>
        </div>
        <div class="box2">
            <div class="i4">
                <br>
                <br>
                <br>
                <div class="line"></div>
                <h2>Frome $180</h2>
                <h1>Minimalistic Plant Pot</h1>
            </div>
            <div class="i5">
                <br>
                <br>
                <br>
                <div class="line"></div>
                <h2>Frome $180</h2>
                <h1>Small Tab</h1>
            </div>
            <div class="i6">
                <br>
                <br>
                <br>
                <div class="line"></div>
                <h2>Frome $180</h2>
                <h1>Home Deco</h1>
            </div>
        </div>
        <div class="box3">
            <div class="i7">
                <br>
                <br>
                <br>
                <div class="line"></div>
                <h2>Frome $180</h2>
                <h1>Modern Chair</h1>
            </div>
            <div class="i8">
                <br>
                <br>
                <br>
                <div class="line"></div>
                <h2>Frome $180</h2>
                <h1>Night Stand</h1>
            </div>
            <div class="i9">
                <br>
                <br>
                <br>
                <div class="line"></div>
                <h2>Frome $180</h2>
                <h1>Metallic Chair</h1>
            </div>
        </div>
    </div>
    <div class="section2">
        <div class="s1">
            <h1>Subscribe for a <span>25% Discount</span></h1>
            <p>Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit amet mi vulputate  consectetur. Donec auctor interdum purus, ac finibus massa bibendum nec.</p>
        </div>
        <div class="s2">
            <input type="email" placeholder=" &nbsp; &nbsp; Your E-mail"><button>Subscribe</button>
        </div>
    </div>
    <div class="section3">
        <div class="s3">
            <img src="../public/img/logo2.png" alt="">
            <p>Copyright ©2023 All rights reserved | This template is made <br> with  by Colorlib</p>
        </div>
        <div class="s4">
            <div class="f1">
                <a style="color: rgb(251,169,30);" href="">HOME</a>
                <a href="">SHOP</a>
                <a href="">PRODUCT</a>
                <a href="">CART</a>
                <a href="">CHECKOUT</a>
            </div>
        </div>
    </div>
</body>
</html>